:root {
    --primary-color: #2ec95d;
    --button-color: #42d86f;
    --bg-container: #ffffff;
    --text-color: #333333;
    --message-error-color: red;
    --error-color: #ff0000;
    --error-bg: #fcbbbb;
    --error-border: #4d0302;
    --shadow-color: rgba(0, 0, 0, 0.8);
    --button-border: #e0dfdf;
    --hover-button-color: #38b85e;
    --focus-shadow: rgba(0, 0, 0, 0.5);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

#message-error {
    color: var(--message-error-color);
    font-size: 14px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-container);
    width: 80%;
    max-width: 400px;
    height: auto;
    min-height: 450px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 15px var(--shadow-color);
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    gap: 15px;
    padding: 0;

    & input {
        box-sizing: border-box;
        width: 100%;
        padding: 12px;
        font-size: 16px;
        border: 1px solid var(--input-border);
        border-radius: 8px;
        outline: none;
        transition: border-color 0.2s ease, box-shadow 0.2s ease;

        &:focus {
            box-shadow: 0 0 0 1px var(--focus-shadow);
        }

        &.input-error {
            border-color: var(--error-border);
            background-color: var(--error-bg);  
        }
    }

    & label {
        font-size: 18px;
    }
    
    & button {
        box-sizing: border-box;
        width: 100%;
        padding: 12px;
        margin-top: 10px;
        height: 45px;
        background-color:  var(--button-color);
        border: 1px solid var(--button-border);
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 1 ease, transform 0.2s ease;

        &:hover {
            background-color: var(--hover-button-color);
            transform: translateY(-1px);
        }

        &:active {
            transform: translateY(0);
        }
    }
}

.hidden {
    display: none;
}

@media (max-width: 480px) {
    #container {
        width: 80%;
        padding: 15px;
        border-radius: 12px;
    }

    #contact-form label {
        font-size: 16px;
    }

    #contact-form button {
        font-size: 14px;
    }
}